* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
}
footer{
    text-align: center;
}

.article{
    margin-top: 40px;
    margin-bottom: 40px;
}

.admin-table{
    width: 95%;
}

.blog_view{
    margin-left: 40px;
    margin-right: 40px;
}

